[submodule "vcpkg"]
	path = vcpkg
	url = git@github.com:microsoft/vcpkg.git
[submodule "externals/ImGuiFileDialog"]
	path = externals/ImGuiFileDialog
	url = git@github.com:aiekick/ImGuiFileDialog.git
